<?xml version="1.0" encoding="utf-8" ?>

<suite name="test">
    <test name="LoginTest">
        <classes>
            <class name="com.cmp.testng.suite.SuiteConfig"/>
            <class name="com.cmp.testng.suite.LoginTest"/>
        </classes>
    </test>

    <test name="PayTest">
        <classes>
            <class name="com.cmp.testng.suite.SuiteConfig"/>
            <class name="com.cmp.testng.suite.PayTest"/>
        </classes>
    </test>
</suite>